<div class="space-x-4 bg-black p-4">
  <!-- We use RouterLink to define the URL -->
  <a routerLink="/user-page" class="text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">User</a>

  <a routerLink="/admin-page" class="text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">Admin</a>
  
  <a routerLink="/data-binding" class="text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">DataBinding</a>
  
  <a routerLink="/control-flow" class="text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">ControlFlow</a>
  
  <a routerLink="/get-api" class="text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">Get API</a>
  
  <a routerLink="/online-learning" class="text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">Online Learning</a>

</div>

<!-- Router Outlet imports all our routes -->
<router-outlet></router-outlet>

